html {
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: Arial;
    word-wrap: break-word;
    margin: 0px;
}

body {
    margin: 0px;
    padding: 10px;
}

* {
    transition: 300ms;
    --navbar-radius: 20px;
    --navbar-button-radius: 10px;
    color: white;
}

floatButton {
    display: block;
    position: fixed;
    padding: 10px;
    border-radius: 15px;
    top: 15px;
    left: 10px;
    min-width: 40px;
    text-align: center;
    align-content: center;
    background-color: rgba(60, 60, 60, 0.8);
    backdrop-filter: blur(10px);
    user-select: none;
    z-index: 999;
}

nav-bar {
    display: block;
    position: fixed;
    bottom: 0px;
    /*left: calc(50% - 30%);*/
    margin: 10px;
    padding: 5px;
    /*width: calc(60%);*/
    height: 40px;
    border-radius: var(--navbar-radius);
    background-color: rgba(70, 70, 70, 0.8);
    z-index: 1000;
    backdrop-filter: blur(8px);
}

    nav-bar > button {
        margin: 5px;
        padding: 5px;
        min-width: 30px;
        height: 30px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: var(--navbar-button-radius);
        background-color: rgba(20, 20, 20, 0.5);
        backdrop-filter: blur(10px);
        text-align: center;
    }

        nav-bar > button > img {
            margin: -5px;
            max-height: 25px;
            height: 20px;
            border-radius: 5px;
        }

button {
    background-color: rgba(50, 50, 50, 0.5);
    backdrop-filter: blur(10px);
    border: 0;
    border-radius: 10px;
}

    button:hover {
        background-color: rgba(50, 50, 50, 0.8);
    }

img {
    user-select: none;
}
